@model List<OrderItem>

<div class="container">
    <div class="row mt-5">
        <h4 class="text-center">Order List</h4>
        <table id="myTable" class="table table-striped border mt-5 mb-3">
            <thead>
                <tr>
                    <th></th>
                    <th>Order Id</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Order Time</th>
                    <th>Order Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img width="60px" height="60px" src="@item.Product.ProductImages[0].ImageUrl" />
                        </td>
                        <th>MBKKR003@(item.Id)</th>
                        <td>@item.Product.Title</td>
                        <td>@item.Price</td>
                        <td>@item.OrderTime</td>
                        <td>@item.OrderStatus</td>
                        <td>
                            <span data-bs-toggle="modal" data-bs-target="#orderStatusModal_@item.Id" class="btn btn-sm btn-primary">
                                Update Order Status
                            </span>
                            <span class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#orderAdderssModal_@item.Id">
                                View Order Adderss
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @foreach (var item in Model)
        {
            <div class="modal fade" id="orderAdderssModal_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Order Address</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row" >
                                <div class="col-6 mb-3" ><strong>First Name : </strong> @item.OrderAddress.FirstName</div>
                                <div class="col-6 mb-3"><strong>Last Name : </strong> @item.OrderAddress.LastName</div>
                                <div class="col-6 mb-3"><strong>Email : </strong> @item.OrderAddress.Email</div>
                                <div class="col-6 mb-3"><strong>Mobile : </strong> @item.OrderAddress.Mobile</div>
                                <div class="col-6 mb-3"><strong>City : </strong> @item.OrderAddress.City</div>
                                <div class="col-6 mb-3"><strong>State : </strong> @item.OrderAddress.State</div>
                                <div class="col-6 mb-3"><strong>Address : </strong> @item.OrderAddress.Address</div>
                                <div class="col-6 mb-3"><strong>Payment Type : </strong> @item.PaymentType</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="orderStatusModal_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Update Order Status</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="pb-3" >Product Name : @item.Product.Title</h4>
                                    <form class="d-flex" method="post" enctype="multipart/form-data" >
                                        <input name="id" hidden value="@item.Id" />
                                        <select name="orderStatus" class="form-select me-3" style="width: 250px" >
                                            <option value="Success">Success</option>
                                            <option value="Packed">Packed</option>
                                            <option value="Shipped">Shipped</option>
                                            <option value="Delivered">Delivered</option>
                                            <option value="Cancel">Cancel</option>
                                        </select>
                                        <button class="btn btn-info" type="submit" >Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
