@using System.Globalization
@model CheckoutVM

<main id="MainContent" class="content-for-layout">
    <div class="checkout-page mt-100">
        <div class="container">
            <div class="checkout-page-wrapper">
                <div class="row">
                    <div class="col-xl-9 col-lg-8 col-md-12 col-12">
                        <div class="section-header mb-3">
                            <h2 class="section-heading">Check out</h2>
                        </div>
                        <div class="checkout-progress overflow-hidden" style="margin: auto !important">
                            <ol class="checkout-bar px-0">
                                <li class="progress-step step-done"><a asp-area="User" asp-controller="ShoppingCart" asp-action="Index">Cart</a></li>
                                <li class="progress-step step-done"><a asp-area="User" asp-controller="ShoppingCart" asp-action="Index">Checkout</a></li>
                                <li class="progress-step step-active"><a asp-area="User" asp-controller="ShoppingCart" asp-action="Checkout">Your Details</a></li>
                                <li class="progress-step step-todo"><a href="checkout.html">Payment</a></li>
                                <li class="progress-step step-todo"><a href="checkout.html">Order Confirm</a></li>
                            </ol>
                        </div>
                        <div class="checkout-user-area overflow-hidden d-flex align-items-center">
                            <div class="checkout-user-img me-4">
                                @if (string.IsNullOrEmpty(Model.User.ProfileImgUrl))
                                {
                                    <img style="height: 120px; width: 120px;" src="~/images/profile/DummyProfile.png" alt="User Profile Image" class="img-fluid rounded-circle" id="userProfileImage">
                                }
                                else
                                {
                                    <img style="height: 120px; width: 120px;" src="@Model.User.ProfileImgUrl" alt="User Profile Image" class="img-fluid rounded-circle" id="userProfileImage">
                                }
                            </div>
                            <div class="checkout-user-details d-flex align-items-center justify-content-between w-100">
                                <div class="checkout-user-info">
                                    <h2 class="checkout-user-name">@Model.User.FirstName @Model.User.LastName</h2>
                                    <p class="checkout-user-address mb-0">@Model.User.Address</p>
                                </div>
                                <a asp-area="Identity" asp-page="/Account/Manage/EditProfile" asp-route-userId="@Model.User.Id" class="edit-user btn-secondary">EDIT PROFILE</a>
                            </div>
                        </div>
                        <form id="myForm" method="post" class="shipping-address-form common-form">
                            <div class="shipping-address-area">
                                <h2 class="shipping-address-heading pb-1">Shipping address</h2>
                                <div class="shipping-address-form-wrapper">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <fieldset>
                                                <label asp-for="OrderAddress.FirstName" class="label">First name</label>
                                                <input asp-for="OrderAddress.FirstName" type="text" value="@Model.User.FirstName" />
                                                <span asp-validation-for="OrderAddress.FirstName" class="text-danger" ></span>
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <fieldset>
                                                <label asp-for="OrderAddress.LastName" class="label">Last name</label>
                                                <input asp-for="OrderAddress.LastName" value="@Model.User.LastName" type="text" />
                                                <span asp-validation-for="OrderAddress.LastName" class="text-danger"></span>
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <fieldset>
                                                <label asp-for="OrderAddress.Email" class="label">Email address</label>
                                                <input asp-for="OrderAddress.Email" type="email" value="@Model.User.Email" />
                                                <span asp-validation-for="OrderAddress.Email" class="text-danger"></span>
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <fieldset>
                                                <label asp-for="OrderAddress.Mobile" class="label">Phone number</label>
                                                <input asp-for="OrderAddress.Mobile" type="text" value="@Model.User.PhoneNumber" />
                                                <span asp-validation-for="OrderAddress.Mobile" class="text-danger"></span>
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <fieldset>
                                                <label asp-for="OrderAddress.Country" class="label"></label>
                                                <input asp-for="OrderAddress.Country" type="text" value="@Model.User.Country" />
                                                <span asp-validation-for="OrderAddress.Country" class="text-danger"></span>
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <fieldset>
                                                <label asp-for="OrderAddress.State" class="label"></label>
                                                <input asp-for="OrderAddress.State" type="text" value="@Model.User.State" />
                                                <span asp-validation-for="OrderAddress.State" class="text-danger"></span>
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <fieldset>
                                                <label asp-for="OrderAddress.City" class="label"></label>
                                                <input asp-for="OrderAddress.City" type="text" value="@Model.User.City" />
                                                <span asp-validation-for="OrderAddress.City" class="text-danger"></span>
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <fieldset>
                                                <label asp-for="OrderAddress.PostalCode" class="label">Zip code</label>
                                                <input asp-for="OrderAddress.PostalCode" type="text" value="@Model.User.PostalCode" />
                                                <span asp-validation-for="OrderAddress.PostalCode" class="text-danger"></span>
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <fieldset>
                                                <label asp-for="OrderAddress.Address" class="label">Address 1</label>
                                                <textarea asp-for="OrderAddress.Address" class="form-control" rows="3" value="@Model.User.Address"></textarea>
                                                <span asp-validation-for="OrderAddress.Address" class="text-danger"></span>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shipping-address-area billing-area">
                                <div class="minicart-btn-area d-flex align-items-center justify-content-between flex-wrap">
                                    <a asp-area="User" asp-controller="ShoppingCart" asp-action="Index" class="checkout-page-btn minicart-btn btn-secondary">BACK TO CART</a>
                                    <button type="submit" class="checkout-page-btn minicart-btn btn-primary">PROCEED TO SHIPPING</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-12 col-12">
                        <div class="cart-total-area checkout-summary-area">
                            <h3 class="d-none d-lg-block mb-0 text-center heading_24 mb-4">
                                Order summary</h3>

                                @foreach (var item in Model.Carts)
                            {
                                <div class="minicart-item d-flex">
                                    <div class="mini-img-wrapper">
                                        <img class="mini-img" src="@item.Product.ProductImages[0].ImageUrl" alt="img">
                                    </div>
                                    <div class="product-info">
                                        <h2 class="product-title"><a href="#">@item.Product.Title</a></h2>
                                        <p class="product-vendor">@(string.Format(new CultureInfo("en-IN"), "{0:C}", @item.Product.DiscountPrice)) </p>
                                    </div>
                                </div>
                            }
                                <div class="cart-total-box mt-4 bg-transparent p-0">
                                    <div class="subtotal-item subtotal-box">
                                        <h4 class="subtotal-title">Subtotals:</h4>
                                    <p class="subtotal-value">@(string.Format(new CultureInfo("en-IN"), "{0:C}", ViewBag.Subtotals))</p>
                                    </div>
                                    <div class="subtotal-item shipping-box">
                                        <h4 class="subtotal-title">Shipping:</h4>
                                    <p class="subtotal-value">@(string.Format(new CultureInfo("en-IN"), "{0:C}", 0))</p>
                                    </div>
                                    <div class="subtotal-item discount-box">
                                        <h4 class="subtotal-title">Discount:</h4>
                                    <p class="subtotal-value">@(string.Format(new CultureInfo("en-IN"), "{0:C}", ViewBag.Discount))</p>
                                    </div>
                                    <hr />
                                    <div class="subtotal-item discount-box">
                                        <h4 class="subtotal-title">Total:</h4>
                                    <p class="subtotal-value">@(string.Format(new CultureInfo("en-IN"), "{0:C}", (ViewBag.Subtotals - ViewBag.Discount)))</p>
                                    </div>


                                    <div class="mt-4 checkout-promo-code">
                                        <input id="promocode" class="input-promo-code" type="text" placeholder="Promo code" />
                                        <span class="text-danger" id="promoError" ></span>
                                        <button id="promoButton" href="checkout.html" class="btn btn-apply-code position-relative btn-success text-uppercase mt-3">
                                            Apply Promo Code
                                        </button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>

        let promocode = document.getElementById("promocode");
        let promoError = document.getElementById("promoError");
        let promoButton = document.getElementById("promoButton");

        promoButton.addEventListener("click", () => {
            if (promocode.value == "") {
                promoError.innerText = "Please Enter Promocode"
            } else {
                promoError.innerText = "Please Enter Valid Promocode"
            }
        });
        promocode.addEventListener("input", () => {
            if (promocode.value == "") {
                promoError.innerText = "Please Enter Promocode"
            } else {
                promoError.innerText = ""
            }
        });

    </script>
}